apiVersion: apps/v1
kind: Deployment
metadata:
  name: rag-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rag-api
  template:
    metadata:
      labels:
        app: rag-api
    spec:
      containers:
        - name: api
          image: ghcr.io/rithub14/rag-system-api:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: rag-app-config
            - secretRef:
                name: rag-app-secrets
